%frame {
    width: 100%;
    height: 100%;
}
%flex {
    align-items: center;
    justify-content: center;
    display: flex;
}
%flexC {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex,
}
%spill {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
